# Data Science Tools and ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List commonly used libraries for Data Science
* Examples of evaluating arithmetic expressions in Python

## Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Julia
6. Scala
7. JavaScript
8. Swift

## Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. SciPy
4. Pandas
5. Matplotlib

|Data Science Tools|
|---|
|TensorFlow|
|Hadoop|
|Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
x = 10
y = 20
z = x + y
print(z)

30

In [ ]:
# This a simple arithmetic expression to mutiply then add integers
n = (3*4)+5
print(n)

17

In [ ]:
# This will convert 200 minutes to hours by diving by 60
def min_to_hours(x):
  return x/60

min_to_hours(200)

3.3333333333333335

## Author
Ching Xi